# https://help.github.com/en/github/administering-a-repository/customizing-how-changed-files-appear-on-github

**/Cargo.lock linguist-generated=true
**/Cargo.nix linguist-generated=true
**/flake.lock linguist-generated=true
